# Core Django & Deployment
Django>=5.0,<6.0
gunicorn
whitenoise
python-dotenv

# Data & utilities (if you use them)
pandas
numpy
reportlab
fpdf2
pillow
tkcalendar
django-widget-tweaks
num2words

# Fixed versions for stability
whitenoise===6.9.0
python_decouple===3.8
dj_database_url===3.0.1
typing_extensions===4.15.0

# PostgreSQL library (psycopg3, SSL ready)
psycopg[binary]===3.2.9

python_dotenv===1.1.1