Django>=5.0,<6.0
gunicorn
whitenoise
python-dotenv

# agar tum use karti ho to ye bhi rakho:
pandas
numpy
reportlab
fpdf2
pillow
tkcalendar
django-widget-tweaks
num2words
whitenoise===6.9.0
python_decouple===3.8
psycopg2-binary>=2.9,<3

dj_database_url===3.0.1
typing_extensions===4.15.0
psycopg_binary===3.2.9
psycopg===3.2.9