{% extends 'invapp/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2 class="text-center text-primary mb-4">Receipt Entries</h2>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Entry No</th>
                    <th>Entry Date</th>
                    <th>Party Name</th>
                    <th>Amount</th>
                    <th>Remark</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in receipts %}
                <tr>
                    <td>{{ entry.entryno }}</td>
                    <td>{{ entry.entrydate }}</td>
                    <td>{{ entry.partyname }}</td>
                    <td>{{ entry.amount }}</td>
                    <td>{{ entry.remark }}</td>
                    <td>
                        <a href="{% url 'update_rec' entry.entryno %}" class="btn btn-warning ">UPDATE</a>
                        <a href="{% url 'delete_rec' entry.entryno %}" class="btn btn-danger " onclick="return confirm('Are you sure?');">DELETE</a>
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
