{% extends 'invapp/base.html' %}

{% block content %}
<div class="container">
    <h2 class="text-center text-success mb-4">Sale Data</h2>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Invoice No</th>
                    <th>Invoice Date</th>
                    <th>Party Name</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in sales %}
                <tr>
                    <td>{{ sale.invno }}</td>
                    <td>{{ sale.invdate }}</td>
                    <td>{{ sale.partyname }}</td>
                    <td>{{ sale.amount }}</td>
                    <td>
                        <a href="{% url 'sale_form_update' sale.invno %}" class="btn btn-warning">UPDATE</a>
                        <a href="{% url 'delete_sale' sale.invno %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this sale?');">DELETE</a>
                        <a href="{% url 'sale_pdf' sale.invno %}" target="_blank" class="btn btn-danger">PDF</a>

                    </td>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
